body {}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.presentacion {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.presentacion img {
    width: 200px;
    height: 200px;
}

.contacto {
    display: flex;
    flex-direction: column;
    justify-content: right;
    justify-content: flex-end;
}

.contacto h3 {
    margin: 2px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.left1 {
    border: 1px solid black;
}

.left2 {
    border: 1px solid black;
    width: 50%;
}

.left3 {
    border: 1px solid black;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
}

.right1 {
    border: 1px solid black;
}

.right2 {
    border: 1px solid black;
}

.right3 {
    border: 1px solid black;
}

footer {
    border: 1px solid black;
}